<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName></ServerName><LauncherName></LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>false</UseStartPage><StartPage useextension="false" ></StartPage><Mappings><Mapping-Name>bin-debug</Mapping-Name><Location>/Library/WebServer/Documents/VIROME</Location><ResolveCFC>true</ResolveCFC><Mapping-Name>bin-release</Mapping-Name><Location>/Users/jbhavsar/Documents/workspace/virome-rc</Location><ResolveCFC>true</ResolveCFC></Mappings><VariableMappings></VariableMappings></ResourceDetails>